.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(6, 10, 61);
    color: white;
    text-align: center;
}

.nounderline {
    text-decoration: none !important;
}